/********************************************HEADER****************************************/

#container-header {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    background-color: black;
    margin: 25px;
}

.container1 {
    flex-wrap: nowrap;
    display: flex;
    margin: 20px 20px 5px;
    background-color: #4C5760;
    flex: 1 1 auto;
}

.container2 {
    flex-wrap: nowrap;
    display: flex;
    margin: 5px 20px 20px;
    background-color: #FF8B1F;
    flex: 1 1 1000px;
}

.item1 {
    background-color: #EE4B6A;
    margin: 20px;
    padding: 10px;
    flex: 2 0 auto;
}

.item2 {
    background-color: #EE4B6A;
    padding: 10px;
    margin: 20px 0;
    flex: 8 0 auto;
}

.item3 {
    background-color: #EE4B6A;
    padding: 10px;
    margin: 20px;
    flex: 2 0 auto;
}

.item4 {
    background: #FFCE47;
    padding: 10px;
    flex-wrap: wrap;
    flex: 1 1 100%;
    margin: 20px;
}

/****************************************************************************************/

/* SECCIÓ CENTRAL*/

#container-section {
    display: flex;
    max-width: 1200px;
    background-color: black;
    margin: 25px;
}

.container-section1 {
    background: gray;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 20px 20px;
    flex: 1 1 70%;
}

.item_1,
.item_3 {
    background-color: rgba(53, 77, 200, 0.852);
    margin: 20px 10px 0 20px;
    padding: 10px;
    flex: 1 1 30%;
}

.item_2,
.item_4 {
    background-color: rgba(53, 77, 200, 0.852);
    margin: 20px 20px 0 10px;
    padding: 10px;
    flex: 1 1 30%;
}

.item_5 {
    background-color: rgba(125, 194, 229, 0.852);
    margin: 20px;
    padding: 10px;
    flex: 100%;
}

.container-section2 {
    display: flex;
    background: #f22147;
    flex-direction: column;
    margin: 20px 20px 20px 10px;
    flex: 1 1 30%;

}

.item_6 {
    background-color: #FBF59D;
    justify-content: flex-start;
    margin: 20px 20px 10px 20px;
    padding: 10px;
    flex: 0 1 auto;
}

.item_7 {
    background-color: #FBF59D;
    justify-content: flex-start;
    margin: 0px 20px 0 20px;
    padding: 10px;
    flex: 0 1 auto;
}

/************************************** PEU DE PÀGINA ****************************/
#container-footer {
    max-width: 1200px;
    display: flex;
    background: black;
    margin: 25px;
}

.footer {
    background-color: rgb(240, 208, 25);
    margin: 20px;
    padding: 10px;
    flex: auto;
}



/************************************** RESPONSIVE STYLES ***************************************/

/***************************************VERSIÓ TABLET ---> 768px ******************************/

@media screen and (max-width: 768px) {
    #container-section {
        flex-wrap: wrap;
        background-color: yellow;
    }

    .container-section1 {
        margin: 20px;
    }

    .container-section2 {
        margin: 0px 20px 20px 20px;
    }

    .item_7 {
        margin: 0px 20px 20px 20px;
    }
}


/******************************* VERSIÓ MOBILE ---> 480px ***********************************/

@media screen and (max-width: 480px) {

    #container-header {
        display: flex;
        flex-wrap: wrap;
        background-color: black;
        margin: 25px;
        gap: 15px;
    }

    .container1 {
        flex-direction: column;
    }

    .item1 {
        margin: 15px;
        flex: 0 1 100%;

    }

    .item2 {
        margin: 0 15px;
        flex: 0 1 100%;

    }

    .item3 {
        margin: 15px;
        flex: 0 1 100%;

    }

    .item4 {
        margin: 15px;
    }

    #container-section {
        flex-wrap: wrap;
        background-color: rgb(255, 217, 0);
    }

    .container-section1 {
        flex-basis: 100%;
        margin: 20px;
        background-color: #1D3557;
    }

    .item_1,
    .item_2,
    .item_3,
    .item_4 {
        margin: 20px 20px 0;
        flex: 100%;
        background-color: #5590B4;
    }

    .item_5 {
        background-color: #A8DADC;
    }

    .container-section2 {
        flex-basis: 100%;
        margin: 0 20px 20px;
        background-color: #FF521B;
    }

    .item_6 {
        background-color: #FAB038;
        margin: 20px 20px 5px;
    }

    .item_7 {
        background-color: #FAB038;

        margin: 5px 20px 20px;
    }
}

